/* PHASE 4: Footer */
.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-top: none;
  width: 860px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  color: #aaa;
}
.copyright {

}
.footer-nav {
  display: flex;
}
